@mixin container {
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 1rem;
}

@mixin button($color, $background-color) {
  outline: none;
  border: none;
  border-radius: 5px;

  background-color: $background-color;
  color: $color;

  width: 100%;
  display: block;
  padding: 0.875rem 0;

  font-size: 1rem;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;

  cursor: pointer;

  transition: background-color 0.15s ease-in-out;

  &:hover {
    background-color: darken($background-color, 10%);
  }
}

@mixin title-lg {
  font-family: $helvetica;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.4;

  color: $primary;
}

@mixin title-md {
  font-family: $helvetica;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.4;

  color: $primary;
}

@mixin content-gray-lg {
  font-family: $helvetica;
  font-size: 1.375rem;
  font-weight: medium;
  line-height: 1.4;

  color: $gray;
}

@mixin content-primary-lg {
  font-family: $helvetica;
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 1.4;

  color: $primary;
}

@mixin content-primary-md {
  font-family: $helvetica;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.4;

  color: $primary;
}

@mixin content-gray-md {
  font-family: $helvetica;
  font-size: 1rem;
  font-weight: medium;
  line-height: 1.4;

  color: $gray;
}

@mixin content-danger-md {
  font-family: $helvetica;
  font-size: 1rem;
  font-weight: medium;
  line-height: 1.4;

  color: $danger;
}

@mixin content-dark-md {
  font-family: $helvetica;
  font-size: 1rem;
  font-weight: medium;
  line-height: 1.4;

  color: $dark;
}