// Fonts
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colors used in the theme
$primary: #174DBA;
$gray: #EFF0F3;
$gray-dark:#cec7c7;
$white: #FFFFFF;
$dark: #505050;
$danger: #D9534F;